---
layout: default
---

<div class="content">
  <div class="group">
    <h4>{{ page.date | date_to_string }}</h4>
  </div>
  <div class="post-content">
    {{ content }}
    <p>Get this page daily in your inbox <a href="{{site.email_url}}">Click here</a> to subscribe.</p>
    <p>Here’s a list of what’s happening today.</p>
  </div>
  
  {% assign post_date = page.date | date: "%Y-%m-%d" %}
  {% for event in site.data[post_date] %}
    <div class="group">
      <h4>{{ event.time }}</h4>
      <div class="event">
        <h2>{{ event.title }}</h2>
        <p class="address">{{ event.address }} (<a href="{{ event.mapurl }}">Get Directions</a>)</p>      
        <p class="body">{{ event.body }}</p>       
      </div>
    </div>   
  {% endfor %}

  {% if page.previous.url or page.next.url %}
  <div class="group pagination">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">Previous Post</a>
    {% else %}
      <a class="prev disabled">Previous Post</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">Next Post</a>
    {% else %}
      <a class="next disabled">Next Post</a>      
    {% endif %}
  </div>
  {% endif %}  
</div>